h1 {

}
body {
}

.todo-items__wrapper {
    position: absolute;
    width: 100%;
    height: 100%;
    overflow: scroll;
}
.todo-items__wrapper::-webkit-scrollbar {
    display: none;
}
.todo-items__header {
    position: fixed;
    top: 10px;
    left: 50%;
    transform: translateX(-50%);
    background: #fff;
    padding: 20px;
    z-index: 1;
    box-shadow: 0 0 4px 4px rgba(0, 0, 0, .3);
    margin: 0;
}
.todo-items {
    width: 10000px;
    height: 5000px;
    background: url("../images/corkboard.jpg");
}
.todo-item {
    position: absolute;
    background: yellow;
    width: 200px;
    height: 300px;
    padding: 10px;
    box-shadow: 0 0 4px 4px rgba(0, 0, 0, .3);
    font-family: 'Indie Flower', cursive;
}
.todo-item.deleted:not(.deleted--right) {
  animation: deleted 600ms ease-in;
  transform-origin: top center;
}
.todo-item.deleted--right {
  animation: deleted-right 600ms ease-in;
  transform-origin: top center;
}
.todo-item.deleted .todo-item__delete {
  top: -55px;
  opacity: 0;
}
@keyframes deleted {
  0% {
    transform: none;
    opacity: 1;
  }
  33% {
    transform: rotate(2deg) translateY(120px);
    opacity: 1;
  }
  66% {
    transform: rotate(6deg) translateY(250px);
    opacity: 1;
  }
  100% {
    transform: rotate(9deg) translateY(400px);
    opacity: 0;
  }
}
@keyframes deleted-right {
  0% {
    transform: none;
    opacity: 1;
  }
  33% {
    transform: rotate(-2deg) translateY(120px);
    opacity: 1;
  }
  66% {
    transform: rotate(-6deg) translateY(250px);
    opacity: 1;
  }
  100% {
    transform: rotate(-9deg) translateY(400px);
    opacity: 0;
  }
}
.todo-item__delete {
  width: 31px;
  height: 45px;
  background: url("../images/pin.png") no-repeat 0 0;
  position: absolute;
  top: -30px;
  left: 50%;
  margin-left: -15px;
  transition: all 200ms;
  animation: pin 200ms ease-in;
}
.todo-item.ready .todo-item__delete {
  animation: none;
}
@keyframes pin {
  0% {
   opacity: 0;
    top: -40px;
  }
  50% {
    height: 50px;
    top: -40px;
    opacity: 1;
  }
  100% {
    height: 48px;
    top: -30px;
  }
}
.todo-item__delete:after {
  content: "";
  width: 31px;
  height: 48px;
  background: url("../images/pin-dent.png") no-repeat 0 0;
  position: absolute;
  bottom: -3px;
  left: 50%;
  margin-left: -15px;
  z-index: -1;
}
.todo-item__delete:hover {
  height: 50px;
  top: -35px;
}
.todo-item__inner {
    height: 100%;
}
.todo-item__edit {
    height: 100%;
}
.todo-item textarea {
    background: none;
    border: 0;
    padding: 0;
    resize: none;
    outline: none;
    width: 100%;
    height: 100%;
}
.todo-items__wrapper textarea::-webkit-scrollbar {
    display: none;
}