html, body {
  width: 100%;
  height: 100%;
  text-align: center;
}

.wrapper {
  display: inline-block;
  text-align: center;
  width: 700px;
  height: 500px;
}

.wrapper h1, button, p {
  margin: 0 auto;
  padding: 20px;
  display: block;
  text-align: center;
}
